---
import homeData from '@/data/home.yaml';

const { partnerTeaser } = homeData;
---

<div class="section-alt">
  <div style="padding:140px 0">
    <div class="pt-wrap">
      <div class="pt-box scroll-reveal">
        <div>
          <div class="pill" set:html={partnerTeaser.pill} />
          <h2>{ partnerTeaser.headline }</h2>
          <p>{ partnerTeaser.description }</p>
        </div>
        <div><a class="btn btn-primary btn-lg" href="/partners" set:html={partnerTeaser.cta} /></div>
      </div>
    </div>
  </div>
</div>
